USE [Marketing]
GO
/****** Object:  Table [dbo].[transactions]    Script Date: 4/26/2026 2:04:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transactions](
	[transaction_id] [int] NOT NULL,
	[timestamp] [datetime] NOT NULL,
	[customer_id] [int] NOT NULL,
	[product_id] [int] NULL,
	[quantity] [smallint] NOT NULL,
	[discount_applied] [decimal](5, 2) NULL,
	[gross_revenue] [decimal](12, 2) NOT NULL,
	[campaign_id] [int] NULL,
	[refund_flag] [bit] NOT NULL,
	[transaction_date]  AS (CONVERT([date],[timestamp])),
 CONSTRAINT [PK_transactions] PRIMARY KEY CLUSTERED 
(
	[transaction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customers]    Script Date: 4/26/2026 2:04:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customers](
	[customer_id] [int] NOT NULL,
	[signup_date] [date] NOT NULL,
	[country] [nvarchar](50) NOT NULL,
	[age] [tinyint] NULL,
	[gender] [nvarchar](10) NULL,
	[loyalty_tier] [nvarchar](20) NULL,
	[acquisition_channel] [nvarchar](50) NULL,
	[rfm_segment] [nvarchar](20) NULL,
 CONSTRAINT [PK_customers] PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_overview]    Script Date: 4/26/2026 2:04:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_overview] AS
SELECT
    YEAR(t.timestamp)                           AS yr,
    MONTH(t.timestamp)                          AS mn,
    DATENAME(MONTH, t.timestamp)                AS month_name,
    c.country,
    COUNT(DISTINCT t.transaction_id)            AS total_transactions,
    COUNT(DISTINCT t.customer_id)               AS active_customers,
    SUM(t.gross_revenue)                        AS total_revenue,
    AVG(t.gross_revenue)                        AS avg_order_value,
    SUM(CASE WHEN t.refund_flag = 1
        THEN t.gross_revenue ELSE 0 END)        AS total_refunds,
    ROUND(
        SUM(CASE WHEN t.refund_flag = 1
            THEN t.gross_revenue ELSE 0 END)
        / NULLIF(SUM(t.gross_revenue), 0) * 100
    , 2)                                        AS refund_rate_pct,
    AVG(t.discount_applied)                     AS avg_discount
FROM transactions t
LEFT JOIN customers c ON t.customer_id = c.customer_id
GROUP BY
    YEAR(t.timestamp),
    MONTH(t.timestamp),
    DATENAME(MONTH, t.timestamp),
    c.country;
GO
/****** Object:  Table [dbo].[campaigns]    Script Date: 4/26/2026 2:04:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[campaigns](
	[campaign_id] [int] NOT NULL,
	[channel] [nvarchar](50) NULL,
	[objective] [nvarchar](100) NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NULL,
	[target_segment] [nvarchar](100) NULL,
	[expected_uplift] [decimal](5, 4) NULL,
 CONSTRAINT [PK_campaigns] PRIMARY KEY CLUSTERED 
(
	[campaign_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[campaigns_backup]    Script Date: 4/26/2026 2:04:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[campaigns_backup](
	[campaign_id] [int] NOT NULL,
	[channel] [nvarchar](50) NULL,
	[objective] [nvarchar](100) NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NULL,
	[target_segment] [nvarchar](100) NULL,
	[expected_uplift] [decimal](5, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[events]    Script Date: 4/26/2026 2:04:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[events](
	[event_id] [int] NOT NULL,
	[timestamp] [datetime] NOT NULL,
	[customer_id] [int] NULL,
	[session_id] [nvarchar](100) NULL,
	[event_type] [nvarchar](50) NOT NULL,
	[product_id] [int] NULL,
	[device_type] [varchar](50) NULL,
	[traffic_source] [varchar](50) NULL,
	[campaign_id] [int] NULL,
	[page_category] [varchar](50) NULL,
	[session_duration_sec] [int] NULL,
	[experiment_group] [varchar](50) NULL,
 CONSTRAINT [PK_events] PRIMARY KEY CLUSTERED 
(
	[event_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 4/26/2026 2:04:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[product_id] [int] NOT NULL,
	[category] [nvarchar](50) NULL,
	[brand] [nvarchar](50) NULL,
	[base_price] [decimal](10, 2) NOT NULL,
	[launch_date] [date] NULL,
	[is_premium] [bit] NOT NULL,
 CONSTRAINT [PK_products] PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[events]  WITH CHECK ADD  CONSTRAINT [FK_events_campaigns] FOREIGN KEY([campaign_id])
REFERENCES [dbo].[campaigns] ([campaign_id])
GO
ALTER TABLE [dbo].[events] CHECK CONSTRAINT [FK_events_campaigns]
GO
ALTER TABLE [dbo].[events]  WITH CHECK ADD  CONSTRAINT [FK_events_customers] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([customer_id])
GO
ALTER TABLE [dbo].[events] CHECK CONSTRAINT [FK_events_customers]
GO
ALTER TABLE [dbo].[events]  WITH CHECK ADD  CONSTRAINT [FK_events_products] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([product_id])
GO
ALTER TABLE [dbo].[events] CHECK CONSTRAINT [FK_events_products]
GO
ALTER TABLE [dbo].[transactions]  WITH CHECK ADD  CONSTRAINT [FK_trans_campaigns] FOREIGN KEY([campaign_id])
REFERENCES [dbo].[campaigns] ([campaign_id])
GO
ALTER TABLE [dbo].[transactions] CHECK CONSTRAINT [FK_trans_campaigns]
GO
ALTER TABLE [dbo].[transactions]  WITH CHECK ADD  CONSTRAINT [FK_trans_customers] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([customer_id])
GO
ALTER TABLE [dbo].[transactions] CHECK CONSTRAINT [FK_trans_customers]
GO
ALTER TABLE [dbo].[transactions]  WITH CHECK ADD  CONSTRAINT [FK_trans_products] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([product_id])
GO
ALTER TABLE [dbo].[transactions] CHECK CONSTRAINT [FK_trans_products]
GO
